@import './vars';
@import './custom.scss';
@import "~bootstrap/scss/bootstrap";

.banner {
    height: 56px;
    width: 100%;
    position: relative;
}

.full {
    height: 100%;
}

.dropdown.noChev {
    .dropdown-toggle {
        &::after {
            display: none;
        }
    }
}

.w-md-100 {
    width: 100%;
    @include media-breakpoint-down(md) {
        & {
            width: auto;
        }
    }
}

footer {
    background-color: theme-color("secondary");
    min-height: 50vh;
    bottom: 0;
    padding: 1rem;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @include media-breakpoint-down(md) {
        & {
            display: block;
            min-height: 0;
        }
    }
    a {
        text-decoration: underline;
        color: #fff !important;
    }
}